.summary {
  .card {
    margin: 5px;
    padding: 0;
  }
  .row {
    margin: 0;
  }
  .summary__clients {
    a {
      width: 10rem;
      float: right;
    }
  }
  .col {
    padding: 0;
    margin: 0;
  }
}
