<div class="container card list">

  <ul class="nav nav-tabs">
    <li *ngFor="let item of list; let i = index" class="nav-item">
      <a class="nav-link"
      [routerLink]="['/navigator']"
      [queryParams]="{tab: i}" role="tab" [class.active]="tab==i" (click)="tab=i">{{item}}</a>

    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div *ngFor="let item of list; let i = index" [class.active]="tab==i" [class.show]="tab==i" class="tab-pane fade">
      <app-clients clientType="{{item}}"></app-clients>
     <div>
  </div>

</div>
